.git
.github
.pytest_cache
__pycache__
*.py[cod]
*.so
build
data/raw
data/interim
data/processed
experiments/legacy
*.dat
*.dist
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.gam
*.gbz
*.gfa
*.idx
*.npy
*.npz
*.pth
*.vcf
*.vcf.gz
